@model IEnumerable<BiuroKomunikacja.Models.UserDataModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Dane</h1>

<p>
    <a asp-action="Create">Utwórz nowe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dane
            </th>
            <th>
                Użytkownik
            </th>
            <th>
                Data Transakcji
            </th>
            <th>
                Kwota
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dane)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CzasTransakcji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kwota)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
