@model IEnumerable<BiuroKomunikacja.Areas.Identity.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Użytkownicy</h1>

<p>
    <a asp-action="Create">Utwórz nowego</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Administrator
            </th>
            <th>
                Pracownik
            </th>
            <th>
                Obsługiwany przez
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedUser.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
