@model IEnumerable<BiuroKomunikacja.Models.DocsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Pliki</h1>

<p>
    <a asp-action="Create">Wyślij</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa Pliku
            </th>
            <th>
                Klient
            </th>
            <th>
                Wysłane przez
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.UserName)
            </td>
            <td>
                <a asp-action="Download" asp-controller="FileUpload" asp-route-url="@item.DocumentUrl">Download</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
